/* CSS files add styling rules to your content */

body,
html {
  font-family: "Roboto Mono", monospace;
  font-size: 18px;
  background-color: #080808;
  margin: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

canvas {
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
}

#video {
  display: none;
}

.hidden {
  visibility: hidden !important;
}

#play {
  background-color: transparent;
  /* position: absolute; */
  border: none;
  /* display: inline-block; */
}

#next {
  background-color: transparent;
  /* position: absolute; */
  border: none;
  /* display: inline-block; */
}

#interactionContainer {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 75%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  width: 70%;
  height: 30%;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: lightskyblue; */
  /* opacity: 0.25; */
}

#artistName {
  width: 30%;
  margin-bottom: -2.25rem;
  text-align: center;
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  color: lightcyan
}

#trackName {
  width: 20%;
  text-align: center;
}

#buttonContainer {
  display: flex;
  justify-content: space-between;
  width: 25%;
}

#buttonContainer div {
  cursor: pointer;
}

#buttonContainer div:hover {
  text-shadow: 0px 0px 10px #cd8592;
}

#buttonContainer div:active {
  color: #fff;
  text-shadow: 0px 0px 10px violet;
}

#play {
  align-self: center;
  color: lightcyan;
  font-size: 4em;
}

#next {
  align-self: center;
  color: lightcyan;
  font-size: 4em;
}

#prev {
  align-self: center;
  color: lightcyan;
  font-size: 4em;
}

a,
span {
  color: lightcyan;
}

#footer {
  color: lightcyan;
  position: fixed;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 14px;
}

#footer p {
  margin: 0.5em;
}

.fade-object {
  opacity: 0;
  transition: opacity 500ms;
}
.fade-object.active {
  opacity: 1;
}
